body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .container {
    margin: 70px auto;
    padding: 20px;
    background-color: #eee;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .thir {
    overflow-wrap: break-word;
  }

  .name {
    margin-top: 5rem;
  }


  
  h1 {
    color: #333;
  }
  
  ul {
    list-style: none;
    padding: 0; 
    margin: 0;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #337ab7;
}

a:hover {
  color: #23527c;
}

.sec {
    margin-top: 5rem;
}

img {
    max-width: 100%;
    width: 100%;
  border-radius: 50%;
  margin: auto;
}



  