body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .container {
    max-width: 70%;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
  }
  
  ul {
    list-style: none;
    padding: 0; 
    margin: 0;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #337ab7;
}

a:hover {
  color: #23527c;
}

img {
  max-width: 100px;
  border-radius: 50%;
  margin: 20px;
}



  